<!DOCTYPE html>
<html lang="en">
<head>
<title>开源组件健康扫描</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="开源组件，健康扫描" />
<!-- bootstrap-css -->
<link href="/MOHS/public/static/assets2/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link href="/MOHS/public/static/assets2/css/style.css" rel="stylesheet"  type="text/css" media="all" />
<!--// css -->
<!-- font-awesome icons -->
<link href="/MOHS/public/static/assets2/css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons -->
<script src="/MOHS/public/static/assets2/js/jquery-2.2.3.min.js"></script>
<script src="/MOHS/public/static/assets2/js/bootstrap.js"></script>
<style>
	.w3-agile-grid a{
		color: #b5b5b5;
	}
	.w3-agile-grid a:hover{
		color: #FF5722;
	}
</style>
</head>
<body>
	<!-- w3-banner -->
	<div class="w3-banner jarallax">
		<div class="wthree-different-dot">
			<div class="w3layouts-header-top">
				<div class="container">
					<div class="w3-header-top-grids">
						<div class="w3-header-top-left">
							<p><i class="fa fa-wrench"></i>&nbsp;&nbsp;&nbsp;&nbsp;Maven工程开源组件健康扫描</p>
						</div>
						<div class="w3-header-top-right">
							<div class="agileinfo-social-grids">
								<ul>
									<li><a href="#"><i class="fa fa-github"></i></a></li>
								</ul>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>

			<div class="head">
				<div class="container">
					<div class="navbar-top">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
							  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							  </button>
								 <div class="navbar-brand logo ">
									<h1><a href="{:url('index/index/index')}">MOHS</a></h1>
								</div>

							</div>

							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							 <ul class="nav navbar-nav link-effect-4">
								<li class="active first-list"><a href="{:url('index/index/index')}">主页</a></li>
								<li><a href="{:url('index/upload/index')}">工程上传</a></li>
								<li><a href="#">登录</a></li>   
								<li><a href="#">免费注册</a></li>
								<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-letters="Pages">产品与文档</span><span class="caret"></span></a>
									<ul class="dropdown-menu"> 
										<li><a href="#">产品下载</a></li>
										<li><a href="#">帮助文档</a></li>
									</ul>
								</li>
								<li><a href="#">关于我们</a></li>																
							  </ul>
							</div><!-- /.navbar-collapse -->
						</div>
				</div>
			</div>

			<!-- banner -->
			<div class="banner">
				<div class="container">
					<div class="slider">
						<div  id="top" class="callbacks_container-wrap">
							<ul class="rslides" id="slider3">
								<li>
									<div class="slider-info">
										<h3>开源组件依赖扫描</h3>
										<p> 快速扫描项目依赖的所有开源组件，组件之间的依赖关系，生成组件依赖报告</p>
										<div class="more-button">
											<a href="{:url('index/upload/index')}">立即上传Maven工程</a>
										</div>
									</div>
								</li>
								<li>
									<div class="slider-info">
										<h3>开源组件漏洞扫描</h3>
										<p >快速扫描项目开源组件的安全漏洞，生成健康报告，漏洞解决方案推荐</p>
										<div class="more-button">
											<a href="{:url('index/upload/index')}">立即上传Maven工程</a>
										</div>
									</div>
								</li>
								<li>
									<div class="slider-info">
										<h3>开源组件License扫描</h3>
										<p> 快速扫描项目开源组件使用License的详情、合规性、兼容性，生成License报告</p>
										<div class="more-button">
											<a href="{:url('index/upload/index')}">立即上传Maven工程</a>
										</div>
									</div>
								</li>
								<li>
									<div class="slider-info">
										<h3>开源组件热度扫描</h3>
										<p> 快速扫描项目开源组件当前热度，生成热度报告</p>
										<div class="more-button">
											<a href="{:url('index/upload/index')}">立即上传Maven工程</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- //banner -->
		</div>
	</div>
	<!-- //w3-banner -->

	<!-- services -->
	<div class="services">
		<div class="container">   
			<h2 class="agileits-title">服 务</h2>
			<div class="w3-services-grids">
				<div class="col-md-3 col-xs-6 w3l-services-grid">
					<div class="w3l-services-text">
						<div class="w3ls-services-img">
							<i class="fa fa-arrows" aria-hidden="true"></i>
						</div>
						<div class="agileits-services-info">
							<h4>开源组件依赖扫描</h4>
							<p>快速扫描出Maven工程依赖的所有开源组件，组件之间的依赖关系。可一键生成组件依赖报告。 </p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 w3l-services-grid">
					<div class="w3l-services-text">
						<div class="w3ls-services-img">
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
						</div>
						<div class="agileits-services-info">
							<h4>开源组件漏洞扫描</h4>
							<p>快速扫描出Maven工程使用的开源组件的漏洞情况，是否有安全漏洞，漏洞详情以及漏洞级别高低，针对每个漏洞，推荐漏洞解决方案和替代组件。 </p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 w3l-services-grid">
					<div class="w3l-services-text">
						<div class="w3ls-services-img">
							<i class="fa fa-link" aria-hidden="true"></i>
						</div>
						<div class="agileits-services-info">
							<h4>开源组件License扫描 </h4>
							<p>快速扫描出Maven工程使用的开源组件依赖的所有License的详情、版本、合规性、兼容性。</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 w3l-services-grid">
					<div class="w3l-services-text">
						<div class="w3ls-services-img">
							<i class="fa fa-sun-o" aria-hidden="true"></i>
						</div>
						<div class="agileits-services-info">
							<h4>开源组件热度扫描</h4>
							<p>快速扫描出Maven工程使用的开源组件当前版本的热度，以及该组件目前所有可使用版本的热度排名情况。</p>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div> 
		</div>
	</div>

	<!-- Stats -->
	<div class="stats services news-w3layouts jarallax"> 
		<div class="container">    
			<div class="stats-agileinfo agileits-w3layouts">
				<div class="col-sm-3 col-xs-6 stats-grid">
					<div class="stats-img w3-agileits">
						<i class="fa fa-crosshairs" aria-hidden="true"></i>
					</div>	
					<h6>已扫描组件 </h6> 
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='5000' data-delay='.5' data-increment="1">50000</div>
				</div>				
				<div class="col-sm-3 col-xs-6 stats-grid">
					<div class="stats-img">
						<i class="fa fa-warning" aria-hidden="true"></i>
					</div>
					<h6>已发现漏洞</h6>
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='157000' data-delay='.5' data-increment="10">157000</div>
				</div>
				<div class="col-sm-3 col-xs-6 stats-grid">
					<div class="stats-img w3-agileits">
						<i class="fa fa-list-ul" aria-hidden="true"></i>
					</div>
					<h6>已扫描License</h6>
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1000' data-delay='8' data-increment="1">10000</div>
				</div>
				<div class="col-sm-3 col-xs-6 stats-grid">
					<div class="stats-img w3-agileits">
						<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					</div>
					<h6>已生成报告</h6>
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='20000' data-delay='8' data-increment="10">20000</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //Stats -->

	<!-- product -->
	<div class="welcome">
		<div class="container">   
			<h3 class="agileits-title">产品</h3>			
			<div class="welcomerow-agileinfo">
				<h5>Web站点上传Maven工程进行扫描   &&   作为Eclipse插件对Maven工程扫描</h5>
				<p>我们的产品目前有Web站点上传Maven工程进行健康扫描、作为Eclipse插件对使用Eclipse开发的Maven工程进行健康扫描两种形式。Web站点支持Maven工程开源组件依赖扫描、漏洞扫描、License扫描、热度扫描，可一键生成依赖报告、漏洞报告、License报告、热度报告。针对每一个漏洞，我们可以推荐漏洞解决方案或可替代开源组件。Eclipse插件除了具有web站点所支持的所有功能以外，还可针对工程每个开源组件单独进行漏洞情况、License、热度情况查询，此外，我们会对所有最新导入的开源组件进行自动健康扫描。同时，我们会给出目前所使用开源组件漏洞等级从高到底排序，以便用户及时把握目前急需解决的安全漏洞问题（定期更新并提醒用户查看）。</p>
			</div> 
			<div class="w3-welcome-grids">
				<div class="col-md-3 col-xs-6 w3l-welcome-grid"> 
					<img src="/static/assets2/images/g3.jpg" alt=" " class="img-responsive"/>
					<div class="agileits-welcome-info">
						<h4>web站点使用说明</h4>
						<p>可以通过该站点首页上传您的Maven工程，目前支持Maven工程jar包、war包及pom.xml文件，文件大小不超过50M......<br/>
							<a href="#">点击查看详细说明 </a>
						</p>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 w3l-welcome-grid">
					<img src="/static/assets2/images/g4.jpg" alt=" " class="img-responsive"/>
					<div class="agileits-welcome-info">
						<h4> Eclipse插件使用说明</h4>
						<p>可以在该站点下载页下载适合您的Eclipse插件的版本，然后在您的Eclipse开发环境中导入该插件......<br/>
							<a href="#">点击查看详细说明 </a>
						</p>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 w3l-welcome-grid">
					<img src="/static/assets2/images/g1.jpg" alt=" " class="img-responsive"/>
					<div class="agileits-welcome-info">
						<h4>帮助文档下载</h4>
						<p>目前提供的帮助文档有Web站点使用文档、Eclipse插件使用文档。您可以在该站点下载您需要的文档。 <br/>
							<a href="#">点击进入下载页 </a>							
						</p>					
					</div>
				</div>
				<div class="col-md-3 col-xs-6 w3l-welcome-grid">
					<img src="/static/assets2/images/g2.jpg" alt=" " class="img-responsive"/>
					<div class="agileits-welcome-info">
						<h4>Eclipse插件下载</h4>
						<p>目前该产品的Eclipse插件已发布12个版本，最新版本为12.0.0，更新日期为2019年4月8日，更新了漏洞数据库...... <br/>
							<a href="#">点击进入下载页 </a>							
						</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div> 
		</div>
	</div>
	<!-- //product -->

	<!-- question&&advice -->
	<div class="subscribe jarallax">
		<div class="container">
			<div class="agileits-title title2">
				<h3 class="agileits-title sub">问题与建议</h3>
			</div>   
			<p>如果您在使用我们产品的过程中发现任何问题，或对我们的产品有任何建议，可通过如下方式向我们反馈。我们感谢您每一次的批评和建议，帮助我们不断改进，不断优化，只为打造最好用的Maven工程开源组件健康扫描工具，为每一个伟大的软件开发人员服务。</p>
			<form action="#" method="post">
				<input type="text" name="text" placeholder="问题与建议" class="user" required="">
				<input type="submit" value="提交">
			</form>
		</div>
	</div>
	<!-- //question&&advice -->

	<!-- modal for footer -->
	<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header"> 
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>				<span class="badge badge-success text">公告</span>	
						<h5 class="modal-title">[2019年4月8日] 产品说明</h5>
					</div> 
					<div class="modal-body">
					<div class="agileits-w3layouts-info">
						<p>亲爱的用户：<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你们好！我们的开源组件健康扫描工具目前只支持Maven工程。我们产品有web站点上传工程扫描、Eclipse插件两种形式。我们的团队正在不断努力，争取早日开发出可扫描多种类型工程的开源组件健康扫描工具。我们也在尝试推出更多形式的新产品，例如作为多种IDE开发环境的插件等，以满足不同用户的需求。一有新功能、新产品上线，我们会立即通过邮件提醒您使用并评测给出相关建议，敬请期待！
							<p class="w3-header-top-right">
								---北京大学软件与微电子学院张老师说的都队粉丝团
							</p>							
						</p>					
						<br/><br/>				
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //modal for footer -->	

	<!-- footer -->
	<div class="agileits-w3layouts-footer">
		<div class="container">
			<div class="col-md-4 w3-agile-grid">
				<h5>关于我们</h5>
				<p>
					团队：张老师说的都队粉丝团
				</p>
				<p>
					成员：杨雨月 黄捷 柳俊志 张帆 孙佳静 闫雅铭 董亚聪 傅广播 范佳慧 王毅  徐辉 明瑶
					<br/>
				</p>
				<p>
					我们是一支专注、努力、认真，不断学习的团队，立志做出中国最好用的开源组件健康扫描工具。
				</p>
				<div class="footer-agileinfo-social">
					<ul>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-1 w3-agile-grid"></div>
			<div class="col-md-3 w3-agile-grid">
				<h5>帮助与支持</h5>
				<p><a href="#" data-toggle="modal" data-target="#myModal">最新公告</a></p>
				<p><a href="#" >产品下载</a></p>
				<p><a href="#" >帮助文档</a></p>
				<br/><br/>
			</div>
			<div class="col-md-4 w3-agile-grid">
				<h5>联系我们</h5>
				<div class="w3-address">
					<div class="w3-address-grid">
						<div class="w3-address-left">
							<i class="fa fa-phone" aria-hidden="true"></i>
						</div>
						<div class="w3-address-right">
							<h6>电 话</h6>
							<p>+1 234 567 8901</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="w3-address-grid">
						<div class="w3-address-left">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</div>
						<div class="w3-address-right">
							<h6>邮 箱</h6>
							<p><a href="mailto:example@email.com"> fansofzhang@pku.edu.cn</a></p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="w3-address-grid">
						<div class="w3-address-left">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
						</div>
						<div class="w3-address-right">
							<h6>地 址</h6>
							<p>北京市大兴工业开发区金苑路24号北京大学软件与微电子学院
							</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<p>Copyright &copy; 2019.北京大学软件与微电子学院张老师说的都队粉丝团.
				友情链接 <a href="http://www.ss.pku.edu.cn/" target="_blank" title="北京大学软件与微电子学院">北京大学软件与微电子学院</a>
			</p>
		</div>
	</div>
	<!-- //footer -->

	<!-- jsfortopslide -->
	<script src="/static/assets2/js/responsiveslides.min.js"></script>
	<script type="text/javascript">
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: true,
                speed: 50,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
        });
	</script>
	<!-- //jsfortopslide -->

	<!-- Progressive-Effects-Animation-JavaScript -->
	<script type="text/javascript" src="/static/assets2/js/numscroller-1.0.js"></script>
	<!-- //Progressive-Effects-Animation-JavaScript -->
</body>	
</html>